<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Margaret Hamilton</title>
</head>

<body class="hamilton">
    <header class="hamilton__header
    ">
        <div class="hamilton__header
        __logo">
            <a href="/"> <img width="100" src="/img/logo.png" alt=""></a>
        </div>
        <nav  class="hamilton__header
        __menu">
            <a href="/hamilton">hamilton</a>
            <a href="/berners-lee">Berners-lee</a>
            <a href="/clarke">Clarke</a>
            <a href="/hopper">Hopper</a>
            <a href="/lovelace">Lovelace</a>
            <a href="/turing">Turing</a>
        </nav>
        <div class="hamilton__header
        __buscador">
            <form action="">
                <input type="text">
                <button>Buscar</button>
            </form>
        </div>

    </header>
    <main class="hamilton__main">
        <section  class="hamilton__main__intro">
            <h1>Margaret Hamilton</h1>
            <div class="hamilton__main__intro__foto">
                <img width="100" src="/img/hamilton.jpg" alt="hamilton">
            </div>
            <p class="hamilton__main__intro__texto">
                Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática e
                ingeniera de Software estadounidense.

                Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​
                donde
                con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ Fue
                fundadora, en 1976, de la empresa Higher Order Software. En 1986, se convirtió en la fundadora y CEO de
                Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del
                lenguaje
                universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés
                Development
                Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para
                distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida
                al
                inicio, eventualmente el software generó el mismo respeto que otras disciplinas.6​7​

                El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el
                expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.8​9​

                Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y
                tolerancia
                a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la
                Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en
                convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).10​

                Hamilton ha publicado más de 130 artículos, actas e informes, y ha llevado a cabo sesenta proyectos y
                seis
                grandes programas.
            </p>
        </section>
        <section id="indice" class="hamilton__indice">
            <h4>Indice</h4>
            <nav class="hamilton__indice__menu">
                <ol class="hamilton__indice__menu__principal">
                    <li>
                        <a href="#biografia">Biografia</a>
                        <a href="#vida">Vida personal y educacion</a>
                        <a href="#trayectoria">Trayectoria profesional</a>

                        <ol type="a">
                            <li><a href="">Proyecto SAGE</a></li>
                            <li><a href="">Apolo 11</a></li>

                        </ol>
                    </li>
                    <li><a href="#negocio">Negocios</a></li>
                    <li><a href="#legado">Su legado</a></li>
                    <li><a href="#premios">Premios y reconocimientos</a></li>
                    <li><a href="">Publicaciones</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="">Véase también</a></li>
                    <li><a href="">Referencias</a></li>
                    <li><a href="">Enlaces externos</a></li>

                </ol>
            </nav>
        </section>
        <section>
            <h2 id="biografia">Biografia</h2>
            <p>
                Hija de Ruth Esther Partington y Kenneth Heafield,11​ fue educada en un ambiente familiar con un padre
                filósofo-poeta y abuelo pastor cuáquero que la alentó a estudiar y a ser lo que ella quería ser.12​

                Conoció a su marido (del cual se divorció más tarde)13​ James Cox Hamilton mientras estudiaba en Earlham
                College y se casaron a finales de los años 1950 después de obtener su licenciatura. Tienen una hija
                llamada
                Lauren.

                Tras licenciarse en Matemáticas, quiso seguir estudiando, pero tuvo que dejar sus estudios durante un
                periodo de tiempo para que su marido terminara su carrera en Harvard, y trabajar de profesora de
                matemáticas
                y francés en un instituto.14​
            </p>
        </section>
        <section>
            <article>
                <h3 id="vida">Vida personal y educación</h3>
                <p>
                    Margaret Elaine Heafield nació en Paoli, Indiana el día 17 de agosto de 1936. Hija de Kenneth
                    Heafield y
                    Ruth Esther Heafield, que tuvieron otros dos hijos posteriormente: David15​16​ y Kathryn.17​

                    Tras mudarse con su familia a Míchigan, Margaret finalizó los estudios en el instituto Hancock High
                    School
                    en el año 1954. Estudió matemáticas en la Universidad de Míchigan en el año 1955, antes de cambiarse
                    a
                    Earlham College, donde su madre estudiaba. Allí obtuvo el grado en matemáticas con filosofía en el
                    año
                    1958.
                    Citó a Florence Long, el director del departamento de matemáticas en Earlham como ayuda en su deseo
                    de
                    investigar en las matemáticas abstractas y convertirse en profesora de matemáticas.18​ Otras de sus
                    inspiraciones fueron su padre (filósofo y poeta) y su abuelo (director de instituto y ministro de
                    Sociedad
                    Religiosa de los Amigos), por incluir aspectos e intereses filosóficos en sus estudios.19​

                    En Earlham, Margaret conoció a su primer marido, James Cox Hamilton,20​ que terminaba sus estudios
                    de
                    química. Se casaron el 15 de junio de 1958, una vez Margaret se había graduado en Earlham.20​21​
                    Trabajó
                    una
                    temporada como profesora de matemáticas y francés en un colegio público en Boston, Indiana, hasta
                    que su
                    marido se graduó.21​ Se mudaron a Boston, Massachusetts, donde James continuó sus estudios de
                    postgrado
                    en
                    química en la Universidad de Brandeis.
                </p>
            </article>
            <article>
                <h2 id="trayectoria">Trayectoria profesional</h2>
                <p>
                    Se mudó a Massachusetts con la intención de hacer estudios de postgrado en Brandeis, pero en lugar
                    de
                    ello
                    tomó un puesto en el MIT como desarrolladora de software. De 1961 a 1963, trabajó para el Proyecto
                    Sage
                    Philco-Ford, donde usó radares para seguir trayectorias de aeronaves desconocidas. También escribió
                    código
                    para el Laboratorio de Investigación Cambridge de la Fuerza Aérea. Trabajó para ganar experiencia de
                    primera
                    mano en una época donde las ciencias computacionales y la ingeniería de software no existían ni como
                    disciplinas, ni como cursos universitarios.

                    Margaret Hamilton era parte del Charles Stark Draper Laboratory en el MIT, donde en 1965 se
                    convirtió en
                    la
                    responsable del desarrollo del software de vuelo a bordo de las computadoras de la misión Apolo25​
                    en el
                    que
                    trabajaba el equipo del laboratorio,26​ y posteriormente dirigió y supervisó los desarrollos de la
                    misión de
                    la estación espacial Skylab.27​
                </p>
            </article>

            <article>
                <h2 id="negocios">Negocios</h2>
                <p>
                    En 1976, Hamilton cofundó con Saydean Zeldin una empresa llamada Higher Order Software (HOS) para
                    desarrollar más ideas sobre la prevención de errores y la tolerancia a fallos que surgen de su
                    experiencia
                    en el MIT trabajando en el programa Apollo. Crearon un producto llamado USE.IT, basado en la
                    metodología
                    HOS
                    que desarrollaron en el MIT. Se utilizó con éxito en numerosos programas gubernamentales, incluido
                    un
                    proyecto para formalizar e implementar C-IDEF, una versión automatizada de IDEF, un lenguaje de
                    modelado
                    desarrollado por la Fuerza Aérea de EE. UU. En la Fabricación Asistida por Computadora Integrada
                    (ICAM)
                    proyecto.[cita requerida]
                </p>
            </article>
        </section>
        <a href="#">Ir arriba</a>
    </main>

    <footer>

        <p>
            Fuente:
            <a href="https://es.wikipedia.org/wiki/Charles_hamilton" target="_blank">wikipedia</a>
        </p>
    </footer>
</body>

</html>