<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet"  href="css/style.css">
        <title>Heroes</title>
    </head>

    <body>
      
        <header>
            <h1>Heroes</h1>
        </header>
            
                   
        <a href="/babbage">
            <img src="/img/babbage.jpg" alt="babber">
        </a>

        <a href="/berners-lee">
            <img class="inicio" src="/img/berners-lee.jpg" alt="berners-lee">
        </a> 
        
        <a href="/clarke">
            <img src="/img/clarke.jpg" alt="clarke">
        </a>

        <a href="/hamilton">
            <img src="/img/hamilton.jpg" alt="hamilton">             
        </a>

        <a href="/hopper">
            <img src="/img/hopper.jpg" alt="hopper" >
        </a>

        <a href="/lovelace">
            <img  src="/img/lovelace.jpg"alt="lovelace">               
        </a>

        <a href="/turing">
            <img src="/img/turing.jpeg" alt="turing" >              
        </a>

   
    </body>

</html>