<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css/style.css">
    <title> Heroes</title>
</head>

<body>
    <header class="cabecera">
        <h1>Heroes</h1>
    </header>
    <div class="container ">
        
        <img src="/img/babbage.jpg" alt="Babbage">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    <div class="container">
        <img src="/img/hopper.jpg" alt="hopper">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    
    <div class="container">
        <img src="/img/lovelace.jpg" alt="lovelace">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    
    <div class="container">
        <img src="/img/turing.jpeg" alt="turing">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
        <p>lorem</p>
    </div>
    
    <div class="container">
        <img src="/img/berners-lee.jpg" alt="berners-lee">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    
    <div class="container">
        <img src="/img/clarke.jpg" alt="clarke">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    
    <div class="container">
        <img src="/img/hamilton.jpg" alt="hamilton">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus dolorum deleniti molestiae aut hic ipsam nostrum quibusdam provident! Fugit unde et ratione. Incidunt explicabo quas, laudantium doloribus deleniti nisi quis?</p>
    
    </div>
    
    
</body>
</html>