*{
    background-color: rgb(177, 177, 225);
}
body{
    font-family:'Asap';
    color:#141416;
    font-weight:200;
    padding-left:15px;
    padding-right:15px;
    
}
.cabecera{
    text-align:center;
}

.container{
    display: inline-block;
}


.columna{
    width:50%;
    
}
